<!DOCTYPE HTML>
<html>
    <head>
        <title>Login | InstaSwatch</title>
    </head>
    <link rel="stylesheet" href="/static/form_base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        <div class="container">
            <div class="loginform lf">
                <img class= "logologin" src="/static/logo.svg"></img>
                <form class="lf" action="http://api.instaswatch.com/v1/auth/login">
                    <input class="in cl si" type="email" placeholder="Email"></input>
                    <input class="in cl si" type="assword" placeholder="Password"></input>
                    <input class="bt in" type="submit"></input>
                </form>
                <span class="fp" > Forgot password? </span>
            </div>
        </div>
    </body>
</html>