<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password | InstaSwatch</title>
    </head>
    <link rel="stylesheet" href="/static/form_base.css">
    <body>
        <div class="container">
            <div class="loginform lf">
                <img class= "logologin" src="/static/logo.svg"></img>
                <form class="lf" action="http://api.instaswatch.com/v1/auth/password_reset">
                    <input class="in cl si" type="password" placeholder="New Password"></input>
                    <input class="in cl si" type="password" placeholder="Confirm Password"></input>
                    <input class="bt in" type="submit"></input>
                </form>
            </div>
        </div>
    </body>
</html>