<!DOCTYPE HTML>
<html>
    <head>
        <title>Register | InstaSwatch</title>
    </head>
    <link rel="stylesheet" href="/static/form_base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        <div class="container">
            <div class="loginform lf">
                <img class= "logologin" src="/static/logo.svg"></img>
                <form class="lf" action="http://api.instaswatch.com/v1/auth/register">
                    <input class="in cl si" type="text" placeholder="Username"></input>
                    <input class="in cl si" type="text" placeholder="Display Name"></input>
                    <input class="in cl si" type="date" placeholder=""></input>
                    <input class="in cl si" type="email" placeholder="Email"></input>
                    <input class="in cl si" type="email" placeholder="Confirm Email"></input>
                    <input class="in cl si" type="password" placeholder="Password"></input>
                    <input class="in cl si" type="password" placeholder="Confirm Password"></input>
                    <input class="bt in" type="submit"></input>
                </form>
            </div>
        </div>
    </body>
</html>