<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/all_base.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>X's Post | InstaSwatch</title>
    </head>
    <body>
        <div id="nav" class=""></div>
        <script src="/static/nav-mob.js" type="text/javascript"></script>
        <div id = "post-pic"></div>
        <div id = "post-poster"></div>
        <div id = "post-tagged"></div>
        <div id = "post-timestamp"></div>
        <div id = "post-likes"></div>
        <div id = "post-comments"></div>

    </body>
</html>